/* src/assets/styles/nav.css */

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-nav {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
}

#logout,
#login-out,
#login {
  line-height: 40px;
  height: 40px;
  display: inline;
  text-decoration: none;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(255, 187, 40);
  cursor: pointer;
}

#logout:hover,
#login-out:hover {
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(255, 187, 40);
}

.main-nav:hover {
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(255, 187, 40);
}

.current-nav {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: rgb(255, 187, 40);
  display: inline-block;
}

.subnav-content {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

/* Style the mobile subnav links */
.subnav-content span {
  float: left;
  text-decoration: none;
  padding-right: 15px;
}

/* Add a grey background color on hover */
.subnav-content span:hover {
  color: blue;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.dropdown-btn {
  display: block;
}


.nav-section i {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .dropdown-container {
    display: flex !important;
    justify-content: space-evenly;
  }
}
