/* src/assets/styles/updateUser.css */
/* 
@media only screen and (max-width: 1024px) {
  * {
    font-size: large;
  }
  .backButton {
    margin-left: 380px;
  }
} */

@media only screen and (max-width: 600px) {
  * {
    font-size: small;
  }
  .formbox {
    padding: 0;
  }
  .cancel {
    margin: 7px;
  }
}
